


<h2>Customizaton Complete-Congrats!</h2>

<h1>Thank you for making your own Escape Room by using our application</h1>

@Html.ActionLink("Customize another room", "CreateProduct", "Order", null, new
{
    @class = "btn btn-warning"
});

