@{ ViewBag.Title = "About Us"; }
<div class="jumbotron">

    <p>We are the best online service for buying Concert tickets</p>

    <button class="btn btn-danger btn-lg">@Html.ActionLink("Feedback", "Feedback", "Home")</button>
</div>
