@{ ViewBag.Title = "Contact"; }
<div class="jumbotron">
    <p>Please contact us at:</p>
    <p>Phone: 04444434545</p>
    <p>Mail: buytickets@concertticketsapp.com</p>
    <button class="btn btn-danger btn-lg">@Html.ActionLink("Feedback", "Feedback", "Home")</button>
</div>

